* {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}
/*     HEADER     */
header {
    display: flex;
    justify-content: space-between;
}

header .logo {
    height: 75px;
    padding: 20px;
}

.header_container_right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    padding: 10px;
}
.header_container_right span {
    border: 1.5px solid #6a7be6;
    border-radius: 20px;
    color: #6a7be6;
    padding: 10px;
}
/*     LANDING     */
#landing_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing_container h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    margin: 100px 0 10px;
}

#landing_container h4 {
    font-size: 25px;
    font-family: 'Oxygen', sans-serif;
}

.emoji {
    margin: 50px;
    margin-bottom: 250px;
    height: 200px;
    width: 200px;
}

.transition {
    position: absolute;
    z-index: -100;
    top: 375px;
    left: 50%;
    transform: translateX(-50%);
}
/*     PRESENTATION     */
.presentation {
    height: 500px;
    padding: 20px 100px;
    text-align: center;
    background-color: #6a7be6;
    color: white;
    margin-bottom: 600px;
}
.presentation h2 {
    margin: 100px 0 20px;
}
.presentation .columns {
    display: flex;
    justify-content: center;
    margin: 100px 40px;
    height: auto;
    border: 0.5px solid silver;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: black;
    background-color: white;
}
.presentation .columns .card {
    width: 100%;
    padding: 30px;
}
.presentation .columns .card h3 {
    margin: 20px;
}
.presentation .columns .card p {
    margin-bottom: 20px;
}
.presentation .columns .card img {
    height: 80px;
    margin: 15px;
}
.presentation .columns .card ul {
    list-style-type: none;
}
.presentation .columns .card .help {
    list-style-type: circle;
    text-align: center;
    list-style-position: initial;
    margin-bottom: 15px;
}
.presentation .columns .card .help li {
    text-align: start;
}
/*     DATA VISUALISATION     */
.datviz_container {
    background-color: #6a7be6;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.datviz_container h1 {
    margin-bottom: 50px;
}
.datviz_container .gallery {
    background-color: white;
    border: 0.5px solid silver;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 70%;
    
}
.datviz_container .gallery img {
    height: 300px;
}
/*     WORKS     */
.works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
.works h1 {
    margin: 20px;
}
.works p {
    margin-bottom: 60px;
}
.works .exemple {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.works .exemple img {
    border-radius: 20px;
    opacity: 0.8;
    height: 200px;
    width: 305px;
}
.works .exemple img:hover {
    opacity: 0.4;
    transition: 0.5s;
}
.works .exemple div {
    border-radius: 20px;
    height: 200px;
    margin: 0;
    background-color: #6a7be6;
}
hr {
    margin: 100px;
}
/*     PARTNERS     */
.partners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partners h1 {
    margin-bottom: 80px;
}
.partners .partners_logo {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.partners .partners_logo img {
    height: 100px;
}